<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="css/">
    <script src="https://kit.fontawesome.com/2c37014309.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-logo">
            <img src="../image/hotel-logo.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Booking</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <input type="button" value="BOOK NOW">
    </header>
    <main>

    </main>
    <footer>
        <div class="footer-product">
            <div class="contact">
                <h2>Phone Support</h2>
                <p> 24 HOURS DAY</p>
                <h2>+84 523892062</h2>
            </div>
            <div class="info">
                <h2>CONTACT WIITH US</h2>
                <h4>SOCIAL MEDIA CHANNERS</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="support">
                <h2>NEWSLETTER</h2>
                <P>SING UP FOR SPECIAL OFFERS</P>
                <form action="">
                    <input type="email">
                    <button>SUBSCRIBE</button>
                </form>
            </div>
        </div>
        <div class="footer-menus">
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="signature">
                <img src="../image/partners.png" alt="">
            </div>
        </div>
    </footer>
</body>

</html>