<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../image/logofull_1564845921_1565070673.png" alt="">
        </div>
        <form action="" id="form-login" class="form-login">
            <label>Email</label>
            <input type="text" placeholder="Enter email address">
            <label name="password">Password</label>
            <input type="password" id="" placeholder="Enter the password">

            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>